## EDA

In [6]:
import sys
import os
import pandas as pd
from psycopg2 import sql
from sqlalchemy import create_engine

In [7]:
# Add the 'src' directory to the PYTHONPATH
sys.path.append(os.path.abspath('../source'))

from connection_db.db_utils import get_connection

conn = get_connection()

Conexión exitosa

In [32]:
df = pd.read_sql_query("SELECT * FROM accidents", conn)
print(df.head())

C:\Users\ASUS\AppData\Local\Temp\ipykernel_16904\4275037987.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query("SELECT * FROM accidents", conn)

   id country  year     month day_of_week time_of_day urban_rural  road_type  \
0   1     USA  2002   October     Tuesday     Evening       Rural     Street
1   2      UK  2014  December    Saturday     Evening       Urban     Street
2   3     USA  2012      July      Sunday   Afternoon       Urban    Highway
3   4      UK  2017       May    Saturday     Evening       Urban  Main Road
4   5  Canada  2002      July     Tuesday   Afternoon       Rural    Highway

  weather_conditions  visibility_level  ...  number_of_fatalities  \
0              Windy        220.414651  ...                     2
1              Windy        168.311358  ...                     1
2              Snowy        341.286506  ...                     4
3              Clear        489.384536  ...                     3
4              Rainy        348.344850  ...                     4

   emergency_response_time traffic_volume road_condition      accident_cause  \
0                58.625720    7412.752760            Wet             Weather
1                58.041380    4458.628820   Snow-covered  Mechanical Failure
2                42.374452    9856.915064            Wet            Speeding
3                48.554014    4958.646267            Icy  Distracted Driving
4                18.318250    3843.191463            Icy  Distracted Driving

   insurance_claims  medical_cost  economic_loss         region  \
0                 4  40499.856982   22072.878502         Europe
1                 3   6486.600073    9534.399441  North America
2                 4  29164.412982   58009.145124  South America
3                 3  25797.212566   20907.151302      Australia
4                 8  15605.293921   13584.060759  South America

  population_density
0        3866.273014
1        2333.916224
2        4408.889129
3        2810.822423
4        3883.645634

[5 rows x 31 columns]

### Datos faltantes

In [30]:
datos_faltantes = df.isnull().sum().sum()

if datos_faltantes == 0:
    print("\n Datos nulos no encontrados. ")
else:
    print(df[df.isnull().sum()])

 Datos nulos no encontrados.

### Datos duplicados

In [31]:
#Total de duplicados
duplicados=df.duplicated()
total_duplicados= duplicados.sum()

print(f"\n Total de filas duplicadas: {total_duplicados}")

#Mostrar filas duplicadas 
if total_duplicados > 0:
    print("\n Filas duplicadas encontradas: ")
    print(df[df.duplicated()])

 Total de filas duplicadas: 0

In [ ]:
#Valores de país
print(df["country"])

#Valores de región
print(df["region"])

0               USA
1                UK
2               USA
3                UK
4            Canada
            ...
131995      Germany
131996       Brazil
131997       Russia
131998    Australia
131999          USA
Name: country, Length: 132000, dtype: object
0                Europe
1         North America
2         South America
3             Australia
4         South America
              ...
131995             Asia
131996             Asia
131997             Asia
131998           Europe
131999             Asia
Name: region, Length: 132000, dtype: object

In [27]:
df = df.drop(columns=["region"])

In [35]:
print(df.dtypes)

id                               int64
country                         object
year                             int64
month                           object
day_of_week                     object
time_of_day                     object
urban_rural                     object
road_type                       object
weather_conditions              object
visibility_level               float64
number_of_vehicles_involved      int64
speed_limit                      int64
driver_age_group                object
driver_gender                   object
driver_alcohol_level           float64
driver_fatigue                   int64
vehicle_condition               object
pedestrians_involved             int64
cyclists_involved                int64
accident_severity               object
number_of_injuries               int64
number_of_fatalities             int64
emergency_response_time        float64
traffic_volume                 float64
road_condition                  object
accident_cause                  object
insurance_claims                 int64
medical_cost                   float64
economic_loss                  float64
region                          object
population_density             float64
dtype: object

In [37]:

columnas_float = df.select_dtypes(include=['float'])

columnas_float_redondeadas = columnas_float.round(2)

print(columnas_float_redondeadas.head())

   visibility_level  driver_alcohol_level  emergency_response_time  \
0            220.41                  0.05                    58.63
1            168.31                  0.23                    58.04
2            341.29                  0.14                    42.37
3            489.38                  0.12                    48.55
4            348.34                  0.16                    18.32

   traffic_volume  medical_cost  economic_loss  population_density
0         7412.75      40499.86       22072.88             3866.27
1         4458.63       6486.60        9534.40             2333.92
2         9856.92      29164.41       58009.15             4408.89
3         4958.65      25797.21       20907.15             2810.82
4         3843.19      15605.29       13584.06             3883.65

¿en qué moneda están las perdidas y el costo médico?

In [29]:
print(df.columns)

Index(['id', 'country', 'year', 'month', 'day_of_week', 'time_of_day',
       'urban_rural', 'road_type', 'weather_conditions', 'visibility_level',
       'number_of_vehicles_involved', 'speed_limit', 'driver_age_group',
       'driver_gender', 'driver_alcohol_level', 'driver_fatigue',
       'vehicle_condition', 'pedestrians_involved', 'cyclists_involved',
       'accident_severity', 'number_of_injuries', 'number_of_fatalities',
       'emergency_response_time', 'traffic_volume', 'road_condition',
       'accident_cause', 'insurance_claims', 'medical_cost', 'economic_loss',
       'population_density'],
      dtype='object')

El análisis exploratorio de datos debería dar respuestas (al menos) a lo siguiente:

¿Qué pregunta(s) estás tratando de resolver (o probar que estás equivocado)?

¿Qué tipo de datos tiene y cómo trata los diferentes tipos?

¿Qué falta en los datos y cómo los maneja?

¿Qué hacer con los datos faltantes, outliers o información mal inputada?

¿Se puede sacar más provecho a los datos ?