# Transformaci√≥n y Carga

### Importacion de librerias

In [5]:
import sys
import os
import pandas as pd
import numpy as np
from psycopg2 import sql
from sqlalchemy import text
sys.path.append(os.path.abspath('../source'))
from connection_db.db_utils import get_connection, close_connection

### Conexi√≥n a la base de datos



Este fragmento de c√≥digo establece una conexi√≥n a una base de datos PostgreSQL utilizando la funci√≥n "get_connection" del m√≥dulo "connection_db.db_utils", lee todos los datos de la tabla "accidents" en un DataFrame de Pandas, muestra las primeras filas del DataFrame.

In [6]:
engine = get_connection()

df = pd.read_sql_query("SELECT * FROM accidents", engine)

df.head()

2025-05-15 15:20:28,928 - INFO - ‚úÖ Conexi√≥n a la base de datos 'gra' creada exitosamente.

,country,year,month,day_of_week,time_of_day,urban_rural,road_type,weather_conditions,visibility_level,number_of_vehicles_involved,...,number_of_fatalities,emergency_response_time,traffic_volume,road_condition,accident_cause,insurance_claims,medical_cost,economic_loss,region,population_density
0,USA,2002,October,Tuesday,Evening,Rural,Street,Windy,220.414651,1,...,2,58.625720,7412.752760,Wet,Weather,4,40499.856982,22072.878502,Europe,3866.273014
1,UK,2014,December,Saturday,Evening,Urban,Street,Windy,168.311358,3,...,1,58.041380,4458.628820,Snow-covered,Mechanical Failure,3,6486.600073,9534.399441,North America,2333.916224
2,USA,2012,July,Sunday,Afternoon,Urban,Highway,Snowy,341.286506,4,...,4,42.374452,9856.915064,Wet,Speeding,4,29164.412982,58009.145124,South America,4408.889129
3,UK,2017,May,Saturday,Evening,Urban,Main Road,Clear,489.384536,2,...,3,48.554014,4958.646267,Icy,Distracted Driving,3,25797.212566,20907.151302,Australia,2810.822423
4,Canada,2002,July,Tuesday,Afternoon,Rural,Highway,Rainy,348.344850,1,...,4,18.318250,3843.191463,Icy,Distracted Driving,8,15605.293921,13584.060759,South America,3883.645634

Se cierra la conexi√≥n a la base de datos para liberar recursos.

In [7]:
close_connection(engine)

2025-05-15 15:20:31,083 - INFO - üîå Conexi√≥n al engine cerrada correctamente.

# Transformaci√≥n

### Eliminaci√≥n de columnas redundantes

Este c√≥digo utiliza la funci√≥n `unique()` de Pandas para identificar y mostrar los valores √∫nicos presentes en las columnas "country" y "region" del DataFrame `df`. Primero, imprime los valores √∫nicos de la columna "country", seguido de un salto de l√≠nea y los valores √∫nicos de la columna "region". Esto permite inspeccionar r√°pidamente las categor√≠as o valores distintos presentes en estas columnas, lo cual es √∫til para comprender la distribuci√≥n de los datos de est√°s columnas.

In [8]:
print("Valores √∫nicos en la columna 'country':")
print(df["country"].unique())

print("\nValores √∫nicos en la columna 'region':")
print(df["region"].unique())

Valores √∫nicos en la columna 'country':
['USA' 'UK' 'Canada' 'India' 'China' 'Japan' 'Russia' 'Brazil' 'Germany'
 'Australia']

Valores √∫nicos en la columna 'region':
['Europe' 'North America' 'South America' 'Australia' 'Asia']

In [9]:
df = df.drop(columns=["region"])

La columna "region" ha sido eliminada del dataset, ya que no aporta informaci√≥n relevante para los objetivos del proyecto. Dado que ya contamos con la columna "country", la cual especifica el pa√≠s donde ocurri√≥ cada accidente, la variable "region" se vuelve redundante. Adem√°s, el nivel de detalle que proporciona la columna de pa√≠s es m√°s preciso y √∫til para el an√°lisis, mientras que la regi√≥n o continente es una categorizaci√≥n m√°s amplia que no aporta valor significativo a nuestro estudio.

### Conformidad

#### N√∫mero de cifras decimales

El c√≥digo examina las columnas con tipo de datos 'float' en DataFrame `df` determinando el n√∫mero m√°ximo de decimales presentes en cada columna para comprender la precisi√≥n de los datos. Luego, redondea todos los valores de estas columnas a dos decimales, simplificando los datos y mejorando su legibilidad para an√°lisis y presentaci√≥n.

In [10]:
columnas_float = df.select_dtypes(include=['float'])


for col in columnas_float.columns:
    max_decimales = columnas_float[col].astype(str).str.split('.').str[1].str.len().max()
    print(f"N√∫mero m√°ximo de decimales en la columna '{col}': {max_decimales}")

N√∫mero m√°ximo de decimales en la columna 'visibility_level': 15
N√∫mero m√°ximo de decimales en la columna 'driver_alcohol_level': 20
N√∫mero m√°ximo de decimales en la columna 'emergency_response_time': 16
N√∫mero m√°ximo de decimales en la columna 'traffic_volume': 14
N√∫mero m√°ximo de decimales en la columna 'medical_cost': 14
N√∫mero m√°ximo de decimales en la columna 'economic_loss': 13
N√∫mero m√°ximo de decimales en la columna 'population_density': 15

In [11]:
columnas_float_redondeadas = columnas_float.round(2)

print(columnas_float_redondeadas.head())

   visibility_level  driver_alcohol_level  emergency_response_time  \
0            220.41                  0.05                    58.63
1            168.31                  0.23                    58.04
2            341.29                  0.14                    42.37
3            489.38                  0.12                    48.55
4            348.34                  0.16                    18.32

   traffic_volume  medical_cost  economic_loss  population_density
0         7412.75      40499.86       22072.88             3866.27
1         4458.63       6486.60        9534.40             2333.92
2         9856.92      29164.41       58009.15             4408.89
3         4958.65      25797.21       20907.15             2810.82
4         3843.19      15605.29       13584.06             3883.65

#### Valores de la columna 'driver_alcohol_level'

Los niveles de alcohol en la sangre pueden ser agrupados en categor√≠as significativas (Bajo, Moderado, Alto, etc.) que representan diferentes niveles de riesgo o impacto, en lugar de tratarse como simples valores continuos dif√≠celes de interpretar para el p√∫blico general. Para esto se utiliza el "Binning", que  implica convertir una variable num√©rica continua en una variable categ√≥rica ordinal al agrupar los valores en intervalos o "bins".

Este c√≥digo define una funci√≥n llamada `categorizar_alcohol_level` que clasifica los niveles de alcohol en la sangre (driver_alcohol_level) en categor√≠as como "Bajo", "Moderado", "Alto", "Peligroso" y "Letal", bas√°ndose en umbrales espec√≠ficos. Luego, aplica esta funci√≥n a la columna "driver_alcohol_level" del DataFrame `df` para crear una nueva columna llamada "Alcohol_Level_Category", que contiene las categor√≠as correspondientes para cada valor de nivel de alcohol. Finalmente, imprime la columna "Alcohol_Level_Category" para mostrar las clasificaciones resultantes.

In [12]:
def categorizar_alcohol_level(driver_alcohol_level):
    if driver_alcohol_level < 0.03:
        return "Bajo"
    elif driver_alcohol_level < 0.08:
        return "Moderado"
    elif driver_alcohol_level < 0.20:
        return "Alto"
    elif driver_alcohol_level < 0.30:
        return "Peligroso"
    else:
        return "Letal"

df["driver_alcohol_level"] = df["driver_alcohol_level"].apply(categorizar_alcohol_level)

print(df["driver_alcohol_level"])

0          Moderado
1         Peligroso
2              Alto
3              Alto
4              Alto
            ...
131995     Moderado
131996     Moderado
131997     Moderado
131998         Bajo
131999         Alto
Name: driver_alcohol_level, Length: 132000, dtype: object

Esta conversi√≥n no solo optimiza la representaci√≥n de los datos en visualizaciones, sino que tambi√©n permite la identificaci√≥n de patrones clave entre los niveles de alcohol y otros factores cr√≠ticos, como la severidad de los accidentes o el n√∫mero de v√≠ctimas.

#### Valores de la columna 'visibility_level'

La funci√≥n `categorize_visibility` reemplaza la columna "visibility_level" por "Visibility_Category", la cual almacena la clasificaci√≥n correspondiente para cada registro, pasando de un valor num√©rico a una categor√≠a descriptiva: Muy Baja, Baja, Moderada o Alta. Esto permite transformar una variable num√©rica en categ√≥rica, facilitando la interpretaci√≥n de los datos y su representaci√≥n en visualizaciones.

In [13]:
def categorize_visibility(visibility_level):
    if visibility_level < 200:
        return "Muy Baja"
    elif visibility_level < 300:
        return "Baja"
    elif visibility_level < 400:
        return "Moderada"
    else:
        return "Alta"

df["visibility_level"] = df["visibility_level"].apply(categorize_visibility)

print(df["visibility_level"])

0             Baja
1         Muy Baja
2         Moderada
3             Alta
4         Moderada
            ...
131995    Moderada
131996    Muy Baja
131997    Muy Baja
131998        Baja
131999        Baja
Name: visibility_level, Length: 132000, dtype: object

#### Valores de "days_order", "months_order" y "time_of_day"

In [14]:
print("\nValores √∫nicos en la columna 'time_of_day':")
print(df["time_of_day"].unique())

Valores √∫nicos en la columna 'time_of_day':
['Evening' 'Afternoon' 'Night' 'Morning']

Las columnas "day_of_week", "month" y "time, of day" son variables categ√≥ricas ordinales, lo que significa que las categor√≠as tienen un orden l√≥gico (los d√≠as de la semana y los meses del a√±o tienen un orden espec√≠fico).Al estructurar las variables con un orden definido, se facilita la representaci√≥n gr√°fica en gr√°ficos de tendencia o an√°lisis estacionales, evitando errores en la disposici√≥n de los datos. Asimismo, esta verificaci√≥n contribuye a la correcta interpretaci√≥n de patrones temporales en la ocurrencia de accidentes, lo que puede ser clave para la toma de decisiones en seguridad vial y planificaci√≥n de estrategias preventivas.

Este c√≥digo transforma las columnas categ√≥ricas "day_of_week", "month" y "time_of_day" en un tipo de dato categ√≥rico ordenado en Pandas. Esto permite que el DataFrame conozca el orden l√≥gico de los d√≠as de la semana, los meses del a√±o, y el tiempo del d√≠a. Se utiliza `pd.Categorical directamente, que es m√°s eficiente y conciso que pd.CategoricalDtype y .astype(). Adem√°s, se ha simplificado la impresi√≥n de los resultados, eliminando la necesidad de verificar si las columnas est√°n ordenadas, ya que pd.Categorical con ordered=True garantiza que lo est√©n. Esto facilita el an√°lisis de datos temporales donde el orden es crucial.

In [15]:
days_order = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]
months_order = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
time_of_day_order = ["Morning", "Afternoon", "Evening", "Night"]


df["day_of_week"] = pd.Categorical(df["day_of_week"], categories=days_order, ordered=True)
df["month"] = pd.Categorical(df["month"], categories=months_order, ordered=True)
df["time_of_day"] = pd.Categorical(df["time_of_day"], categories=time_of_day_order, ordered=True)

print("D√≠a de semana (Categ√≥rico):\n", df["day_of_week"].head(5))
print("\nMes (Categ√≥rico):\n", df["month"].head(5))
print("\nTiempo del d√≠a (Categ√≥rico):\n", df["time_of_day"].head(5))

D√≠a de semana (Categ√≥rico):
 0     Tuesday
1    Saturday
2      Sunday
3    Saturday
4     Tuesday
Name: day_of_week, dtype: category
Categories (7, object): ['Monday' < 'Tuesday' < 'Wednesday' < 'Thursday' < 'Friday' < 'Saturday' < 'Sunday']

Mes (Categ√≥rico):
 0     October
1    December
2        July
3         May
4        July
Name: month, dtype: category
Categories (12, object): ['January' < 'February' < 'March' < 'April' ... 'September' < 'October' < 'November' < 'December']

Tiempo del d√≠a (Categ√≥rico):
 0      Evening
1      Evening
2    Afternoon
3      Evening
4    Afternoon
Name: time_of_day, dtype: category
Categories (4, object): ['Morning' < 'Afternoon' < 'Evening' < 'Night']

#### Valores √∫nicos de otras columnas con dtype String

Con el el m√©todo `.unique()` de pandas se identifican y extraen los valores √∫nicos presentes en las columnas driver_fatigue,vehicle_condition, accident_severity, road_type, weather_conditions, driver_gender y driver_age_group.

In [16]:
print("\nValores √∫nicos en la columna 'driver_fatigue':")
print(df["driver_fatigue"].unique())

print("\nValores √∫nicos en la columna 'vehicle_condition':")
print(df["vehicle_condition"].unique())

print("\nValores √∫nicos en la columna 'accident_severity':")
print(df["accident_severity"].unique())

print("\nValores √∫nicos en la columna 'road_type':")
print(df["road_type"].unique())

print("\nValores √∫nicos en la columna 'weather_conditions':")
print(df["weather_conditions"].unique())

print("\nValores √∫nicos en la columna 'driver_gender':")
print(df["driver_gender"].unique())

print("\nValores √∫nicos en la columna 'driver_age group':")
print(df["driver_age_group"].unique())

Valores √∫nicos en la columna 'driver_fatigue':
[0 1]

Valores √∫nicos en la columna 'vehicle_condition':
['Poor' 'Moderate' 'Good']

Valores √∫nicos en la columna 'accident_severity':
['Moderate' 'Minor' 'Severe']

Valores √∫nicos en la columna 'road_type':
['Street' 'Highway' 'Main Road']

Valores √∫nicos en la columna 'weather_conditions':
['Windy' 'Snowy' 'Clear' 'Rainy' 'Foggy']

Valores √∫nicos en la columna 'driver_gender':
['Male' 'Female']

Valores √∫nicos en la columna 'driver_age group':
['18-25' '41-60' '26-40' '<18' '61+']

Si hubiera variaciones en la forma en que se representan los datos (por ejemplo, "Male", "male", "M"), ser√≠a necesario estandarizar los valores. En este caso no hay variaciones en la forma en que se representan los datos. Sin embargo, la columna "driver_fatigue" presenta valores binarios (0,1) por lo que es √≥ptimo convertirla a dtype booleano usando `.astype(bool)`.

In [17]:
df["driver_fatigue"] = df["driver_fatigue"].astype(bool)

print(df["driver_fatigue"].head())

0    False
1     True
2    False
3     True
4     True
Name: driver_fatigue, dtype: bool

In [18]:
df.columns

Index(['country', 'year', 'month', 'day_of_week', 'time_of_day', 'urban_rural',
       'road_type', 'weather_conditions', 'visibility_level',
       'number_of_vehicles_involved', 'speed_limit', 'driver_age_group',
       'driver_gender', 'driver_alcohol_level', 'driver_fatigue',
       'vehicle_condition', 'pedestrians_involved', 'cyclists_involved',
       'accident_severity', 'number_of_injuries', 'number_of_fatalities',
       'emergency_response_time', 'traffic_volume', 'road_condition',
       'accident_cause', 'insurance_claims', 'medical_cost', 'economic_loss',
       'population_density'],
      dtype='object')

# Carga

In [19]:
engine = get_connection()

2025-05-15 15:20:33,527 - INFO - ‚úÖ Conexi√≥n a la base de datos 'gra' creada exitosamente.

In [20]:
try:
    df.to_sql('accidents_clean', engine, if_exists='replace', index=False)
    print("Datos guardados exitosamente en la tabla 'accidents_clean'")
except Exception as e:
    print(f"Error al guardar los datos: {e}")

Datos guardados exitosamente en la tabla 'accidents_clean'

In [21]:
close_connection(engine)

2025-05-15 15:20:49,237 - INFO - üîå Conexi√≥n al engine cerrada correctamente.