# EDA API

### Importación de librerías

In [1]:
import sys
import os
import requests
import pandas as pd
import numpy as np
from datetime import datetime, time
import seaborn as sns
import matplotlib.pyplot as plt
import math
sys.path.append(os.path.abspath('../source'))

### Descarga de Datos de Accidentes FARS desde la API de NHTSA

In [2]:
'''
base_url = "https://crashviewer.nhtsa.dot.gov/CrashAPI/FARSData/GetFARSData"

# Encabezados
headers = {
    "Accept": "text/csv", 
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64)"
}


output_dir = "../data"
os.makedirs(output_dir, exist_ok=True)


for year in range(2017, 2023):  

    url = f"{base_url}?dataset=Accident&FromYear={year}&ToYear={year}&State=*&format=csv"
    print(f"Descargando datos para el año {year}...")

    try:
        # Realizar la solicitud al API
        response = requests.get(url, headers=headers, timeout=600, stream=True)  # Timeout de 10 minutos

        # Verificar si la solicitud fue exitosa
        if response.status_code == 200:
            # Guardar los datos en el archivo CSV
            output_file = os.path.join(output_dir, f"FARS_data_{year}.csv")
            with open(output_file, "wb") as file:
                for chunk in response.iter_content(chunk_size=1024):
                    if chunk:
                        file.write(chunk)
            print(f"Datos del año {year} guardados exitosamente en {output_file}")
        else:
            print(f"Error al obtener los datos para el año {year}: Código HTTP {response.status_code}")
            print(response.text)

    except requests.exceptions.Timeout:
        print(f"La solicitud para el año {year} excedió el tiempo límite.")
    except requests.exceptions.RequestException as e:
        print(f"Error en la solicitud para el año {year}: {e}")
'''

'\nbase_url = "https://crashviewer.nhtsa.dot.gov/CrashAPI/FARSData/GetFARSData"\n\n# Encabezados\nheaders = {\n    "Accept": "text/csv", \n    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64)"\n}\n\n\noutput_dir = "../data"\nos.makedirs(output_dir, exist_ok=True)\n\n\nfor year in range(2017, 2023):  \n\n    url = f"{base_url}?dataset=Accident&FromYear={year}&ToYear={year}&State=*&format=csv"\n    print(f"Descargando datos para el año {year}...")\n\n    try:\n        # Realizar la solicitud al API\n        response = requests.get(url, headers=headers, timeout=600, stream=True)  # Timeout de 10 minutos\n\n        # Verificar si la solicitud fue exitosa\n        if response.status_code == 200:\n            # Guardar los datos en el archivo CSV\n            output_file = os.path.join(output_dir, f"FARS_data_{year}.csv")\n            with open(output_file, "wb") as file:\n                for chunk in response.iter_content(chunk_size=1024):\n                    if chunk:\n                        file.write(chunk)\n            print(f"Datos del año {year} guardados exitosamente en {output_file}")\n        else:\n            print(f"Error al obtener los datos para el año {year}: Código HTTP {response.status_code}")\n            print(response.text)\n\n    except requests.exceptions.Timeout:\n        print(f"La solicitud para el año {year} excedió el tiempo límite.")\n    except requests.exceptions.RequestException as e:\n        print(f"Error en la solicitud para el año {year}: {e}")\n'

In [3]:
'''
base_url = "https://crashviewer.nhtsa.dot.gov/CrashAPI/FARSData/GetFARSData"

# Encabezados
headers = {
    "Accept": "text/csv", 
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64)"
}

output_dir = "../data"
os.makedirs(output_dir, exist_ok=True)

for year in range(2017, 2023):  
    
    url = f"{base_url}?dataset=Person&FromYear={year}&ToYear={year}&State=*&format=csv"
    print(f"Descargando datos para el año {year}...")

    try:
        # Realizar la solicitud al API
        response = requests.get(url, headers=headers, timeout=600, stream=True)  # Timeout de 10 minutos

        # Verificar si la solicitud fue exitosa
        if response.status_code == 200:
            # Guardar los datos en el archivo CSV
            output_file = os.path.join(output_dir, f"FARS_person_{year}.csv")
            with open(output_file, "wb") as file:
                for chunk in response.iter_content(chunk_size=1024):
                    if chunk:
                        file.write(chunk)
            print(f"Datos del año {year} guardados exitosamente en {output_file}")
        else:
            print(f"Error al obtener los datos para el año {year}: Código HTTP {response.status_code}")
            print(response.text)

    except requests.exceptions.Timeout:
        print(f"La solicitud para el año {year} excedió el tiempo límite.")
    except requests.exceptions.RequestException as e:
        print(f"Error en la solicitud para el año {year}: {e}")
'''

'\nbase_url = "https://crashviewer.nhtsa.dot.gov/CrashAPI/FARSData/GetFARSData"\n\n# Encabezados\nheaders = {\n    "Accept": "text/csv", \n    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64)"\n}\n\noutput_dir = "../data"\nos.makedirs(output_dir, exist_ok=True)\n\nfor year in range(2017, 2023):  \n\n    url = f"{base_url}?dataset=Person&FromYear={year}&ToYear={year}&State=*&format=csv"\n    print(f"Descargando datos para el año {year}...")\n\n    try:\n        # Realizar la solicitud al API\n        response = requests.get(url, headers=headers, timeout=600, stream=True)  # Timeout de 10 minutos\n\n        # Verificar si la solicitud fue exitosa\n        if response.status_code == 200:\n            # Guardar los datos en el archivo CSV\n            output_file = os.path.join(output_dir, f"FARS_person_{year}.csv")\n            with open(output_file, "wb") as file:\n                for chunk in response.iter_content(chunk_size=1024):\n                    if chunk:\n                        file.write(chunk)\n            print(f"Datos del año {year} guardados exitosamente en {output_file}")\n        else:\n            print(f"Error al obtener los datos para el año {year}: Código HTTP {response.status_code}")\n            print(response.text)\n\n    except requests.exceptions.Timeout:\n        print(f"La solicitud para el año {year} excedió el tiempo límite.")\n    except requests.exceptions.RequestException as e:\n        print(f"Error en la solicitud para el año {year}: {e}")\n'

#### Carga de Datos de Accidentes FARS desde Archivos CSV

In [4]:
# Definir los años a procesar
years = range(2017, 2023)  # Desde 2017 hasta 2022

# Lista para almacenar DataFrames
dataframes = []

# Cargar archivos en un ciclo
for year in years:
    file_path = f'../data/FARS_data_{year}.csv'  # Ajusta el path si es necesario
    df = pd.read_csv(file_path)
    df["Year"] = year  # Agregar la columna de año para referencia
    dataframes.append(df)

# Concatenar todos los DataFrames en uno solo
accidents = pd.concat(dataframes, ignore_index=True)

# Ver los primeros registros
accidents.head()

C:\Users\ntlg2\AppData\Local\Temp\ipykernel_27764\1353280254.py:10: DtypeWarning: Columns (41,43) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

,caseyear,state,st_case,statename,ve_total,ve_forms,pvh_invl,peds,pernotmvit,permvit,...,hosp_mnname,cf1,cf1name,cf2,cf2name,cf3,cf3name,fatals,drunk_dr,Year
0,2017,1,10001,Alabama,1,1,0,0,0,1,...,Not Applicable (Not Transported),0.0,NaN,0.0,NaN,0.0,NaN,1,0.0,2017
1,2017,1,10002,Alabama,1,1,0,0,0,1,...,Not Applicable (Not Transported),0.0,NaN,0.0,NaN,0.0,NaN,1,0.0,2017
2,2017,1,10003,Alabama,3,3,0,0,0,3,...,Not Applicable (Not Transported),0.0,NaN,0.0,NaN,0.0,NaN,1,0.0,2017
3,2017,1,10004,Alabama,1,1,0,0,0,1,...,Not Applicable (Not Transported),20.0,Police Pursuit Involved,0.0,NaN,0.0,NaN,1,0.0,2017
4,2017,1,10005,Alabama,1,1,0,0,0,2,...,11,0.0,NaN,0.0,NaN,0.0,NaN,1,0.0,2017

In [5]:
# Años a procesar
years = range(2017, 2023)  # Hasta 2022 

# Lista para almacenar DataFrames
dataframes = []

# Cargar archivos en un ciclo
for year in years:
    file_path = f'../data/FARS_person_{year}.csv'  # Ajusta el path si es necesario
    df = pd.read_csv(file_path)
    df["Year"] = year  # Agregar la columna de año para referencia
    dataframes.append(df)

# Concatenar todos los DataFrames en uno solo
persons = pd.concat(dataframes, ignore_index=True)

C:\Users\ntlg2\AppData\Local\Temp\ipykernel_27764\517759701.py:10: DtypeWarning: Columns (117,119) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\ntlg2\AppData\Local\Temp\ipykernel_27764\517759701.py:10: DtypeWarning: Columns (18,117,119) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\ntlg2\AppData\Local\Temp\ipykernel_27764\517759701.py:10: DtypeWarning: Columns (18,115,117,119) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\ntlg2\AppData\Local\Temp\ipykernel_27764\517759701.py:10: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\ntlg2\AppData\Local\Temp\ipykernel_27764\517759701.py:10: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\ntlg2\AppData\Local\Temp\ipykernel_27764\517759701.py:10: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

#### Unión de Datos de Accidentes y Persons

In [6]:
print(accidents.columns)  # Muestra todas las columnas disponibles

Index(['caseyear', 'state', 'st_case', 'statename', 've_total', 've_forms',
       'pvh_invl', 'peds', 'pernotmvit', 'permvit', 'persons', 'county',
       'countyname', 'city', 'cityname', 'day', 'dayname', 'month',
       'monthname', 'year', 'day_week', 'day_weekname', 'hour', 'hourname',
       'minute', 'minutename', 'nhs', 'nhsname', 'rur_urb', 'rur_urbname',
       'func_sys', 'func_sysname', 'rd_owner', 'rd_ownername', 'route',
       'routename', 'tway_id', 'tway_id2', 'milept', 'mileptname', 'latitude',
       'latitudename', 'longitud', 'longitudname', 'sp_jur', 'sp_jurname',
       'harm_ev', 'harm_evname', 'man_coll', 'man_collname', 'reljct1',
       'reljct1name', 'reljct2', 'reljct2name', 'typ_int', 'typ_intname',
       'wrk_zone', 'wrk_zonename', 'road_fnc', 'road_fncname', 'rel_road',
       'rel_roadname', 'lgt_cond', 'lgt_condname', 'weather1', 'weather1name',
       'weather2', 'weather2name', 'weather', 'weathername', 'sch_bus',
       'sch_busname', 'rail', 'railname', 'not_hour', 'not_hourname',
       'not_min', 'not_minname', 'arr_hour', 'arr_hourname', 'arr_min',
       'arr_minname', 'hosp_hr', 'hosp_hrname', 'hosp_mn', 'hosp_mnname',
       'cf1', 'cf1name', 'cf2', 'cf2name', 'cf3', 'cf3name', 'fatals',
       'drunk_dr', 'Year'],
      dtype='object')

In [7]:
print(persons.columns)

Index(['caseyear', 'state', 'statename', 'st_case', 've_forms', 'veh_no',
       'per_no', 'str_veh', 'str_vehname', 'county',
       ...
       'icfinalbodyname', 'gvwr_from', 'gvwr_fromname', 'gvwr_to',
       'gvwr_toname', 'devtype', 'devtypename', 'devmotor', 'devmotorname',
       'Year'],
      dtype='object', length=160)

In [8]:
df = accidents.merge(persons[['st_case', 'age', 'sex', 'alc_res']], on='st_case', how='left')

In [9]:
df_copy = df.copy()

In [10]:
df.head()

,caseyear,state,st_case,statename,ve_total,ve_forms,pvh_invl,peds,pernotmvit,permvit,...,cf2,cf2name,cf3,cf3name,fatals,drunk_dr,Year,age,sex,alc_res
0,2017,1,10001,Alabama,1,1,0,0,0,1,...,0.0,NaN,0.0,NaN,1,0.0,2017,42,1,996
1,2017,1,10001,Alabama,1,1,0,0,0,1,...,0.0,NaN,0.0,NaN,1,0.0,2017,55,1,0
2,2017,1,10001,Alabama,1,1,0,0,0,1,...,0.0,NaN,0.0,NaN,1,0.0,2017,34,2,996
3,2017,1,10001,Alabama,1,1,0,0,0,1,...,0.0,NaN,0.0,NaN,1,0.0,2017,53,1,996
4,2017,1,10001,Alabama,1,1,0,0,0,1,...,0.0,NaN,0.0,NaN,1,0.0,2017,59,1,0

### Generalidades

In [11]:
df.shape

(3012888, 98)

#### Tipos de Datos

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3012888 entries, 0 to 3012887
Data columns (total 98 columns):
 #   Column        Dtype
---  ------        -----
 0   caseyear      int64
 1   state         int64
 2   st_case       int64
 3   statename     object
 4   ve_total      int64
 5   ve_forms      int64
 6   pvh_invl      int64
 7   peds          int64
 8   pernotmvit    int64
 9   permvit       int64
 10  persons       int64
 11  county        int64
 12  countyname    object
 13  city          int64
 14  cityname      object
 15  day           int64
 16  dayname       int64
 17  month         int64
 18  monthname     object
 19  year          int64
 20  day_week      int64
 21  day_weekname  object
 22  hour          int64
 23  hourname      object
 24  minute        int64
 25  minutename    object
 26  nhs           int64
 27  nhsname       object
 28  rur_urb       int64
 29  rur_urbname   object
 30  func_sys      int64
 31  func_sysname  object
 32  rd_owner      int64
 33  rd_ownername  object
 34  route         int64
 35  routename     object
 36  tway_id       object
 37  tway_id2      object
 38  milept        int64
 39  mileptname    object
 40  latitude      float64
 41  latitudename  object
 42  longitud      float64
 43  longitudname  object
 44  sp_jur        int64
 45  sp_jurname    object
 46  harm_ev       int64
 47  harm_evname   object
 48  man_coll      int64
 49  man_collname  object
 50  reljct1       int64
 51  reljct1name   object
 52  reljct2       int64
 53  reljct2name   object
 54  typ_int       int64
 55  typ_intname   object
 56  wrk_zone      int64
 57  wrk_zonename  object
 58  road_fnc      float64
 59  road_fncname  float64
 60  rel_road      int64
 61  rel_roadname  object
 62  lgt_cond      int64
 63  lgt_condname  object
 64  weather1      float64
 65  weather1name  object
 66  weather2      float64
 67  weather2name  object
 68  weather       int64
 69  weathername   object
 70  sch_bus       int64
 71  sch_busname   object
 72  rail          object
 73  railname      object
 74  not_hour      int64
 75  not_hourname  object
 76  not_min       int64
 77  not_minname   object
 78  arr_hour      int64
 79  arr_hourname  object
 80  arr_min       int64
 81  arr_minname   object
 82  hosp_hr       int64
 83  hosp_hrname   object
 84  hosp_mn       int64
 85  hosp_mnname   object
 86  cf1           float64
 87  cf1name       object
 88  cf2           float64
 89  cf2name       object
 90  cf3           float64
 91  cf3name       object
 92  fatals        int64
 93  drunk_dr      float64
 94  Year          int64
 95  age           int64
 96  sex           int64
 97  alc_res       int64
dtypes: float64(10), int64(47), object(41)
memory usage: 2.2+ GB

In [13]:
df.columns

Index(['caseyear', 'state', 'st_case', 'statename', 've_total', 've_forms',
       'pvh_invl', 'peds', 'pernotmvit', 'permvit', 'persons', 'county',
       'countyname', 'city', 'cityname', 'day', 'dayname', 'month',
       'monthname', 'year', 'day_week', 'day_weekname', 'hour', 'hourname',
       'minute', 'minutename', 'nhs', 'nhsname', 'rur_urb', 'rur_urbname',
       'func_sys', 'func_sysname', 'rd_owner', 'rd_ownername', 'route',
       'routename', 'tway_id', 'tway_id2', 'milept', 'mileptname', 'latitude',
       'latitudename', 'longitud', 'longitudname', 'sp_jur', 'sp_jurname',
       'harm_ev', 'harm_evname', 'man_coll', 'man_collname', 'reljct1',
       'reljct1name', 'reljct2', 'reljct2name', 'typ_int', 'typ_intname',
       'wrk_zone', 'wrk_zonename', 'road_fnc', 'road_fncname', 'rel_road',
       'rel_roadname', 'lgt_cond', 'lgt_condname', 'weather1', 'weather1name',
       'weather2', 'weather2name', 'weather', 'weathername', 'sch_bus',
       'sch_busname', 'rail', 'railname', 'not_hour', 'not_hourname',
       'not_min', 'not_minname', 'arr_hour', 'arr_hourname', 'arr_min',
       'arr_minname', 'hosp_hr', 'hosp_hrname', 'hosp_mn', 'hosp_mnname',
       'cf1', 'cf1name', 'cf2', 'cf2name', 'cf3', 'cf3name', 'fatals',
       'drunk_dr', 'Year', 'age', 'sex', 'alc_res'],
      dtype='object')

### Limpieza

In [14]:
columns = [
    've_total', 'fatals', 'peds','arr_hour', 'arr_min',
    'year', 'monthname', 'day_weekname','hour','minute',
    'state', 'statename', 'rur_urbname', 'func_sysname', 
    'weathername', 'lgt_condname','harm_evname',
    'age', 'sex', 'alc_res'
]

df = df[columns]

In [15]:
df.head()

,ve_total,fatals,peds,arr_hour,arr_min,year,monthname,day_weekname,hour,minute,state,statename,rur_urbname,func_sysname,weathername,lgt_condname,harm_evname,age,sex,alc_res
0,1,1,0,99,99,2017,February,Sunday,23,35,1,Alabama,Urban,Interstate,Clear,Dark - Not Lighted,Fence,42,1,996
1,1,1,0,99,99,2017,February,Sunday,23,35,1,Alabama,Urban,Interstate,Clear,Dark - Not Lighted,Fence,55,1,0
2,1,1,0,99,99,2017,February,Sunday,23,35,1,Alabama,Urban,Interstate,Clear,Dark - Not Lighted,Fence,34,2,996
3,1,1,0,99,99,2017,February,Sunday,23,35,1,Alabama,Urban,Interstate,Clear,Dark - Not Lighted,Fence,53,1,996
4,1,1,0,99,99,2017,February,Sunday,23,35,1,Alabama,Urban,Interstate,Clear,Dark - Not Lighted,Fence,59,1,0

In [16]:
df.dtypes

ve_total         int64
fatals           int64
peds             int64
arr_hour         int64
arr_min          int64
year             int64
monthname       object
day_weekname    object
hour             int64
minute           int64
state            int64
statename       object
rur_urbname     object
func_sysname    object
weathername     object
lgt_condname    object
harm_evname     object
age              int64
sex              int64
alc_res          int64
dtype: object

#### Manejo de datos de faltantes

In [17]:
df.isnull().sum()

ve_total        0
fatals          0
peds            0
arr_hour        0
arr_min         0
year            0
monthname       0
day_weekname    0
hour            0
minute          0
state           0
statename       0
rur_urbname     0
func_sysname    0
weathername     0
lgt_condname    0
harm_evname     0
age             0
sex             0
alc_res         0
dtype: int64

#### Manejo de datos duplicados

In [18]:
df.duplicated().sum()

106711

In [19]:
df[df.duplicated()]

,ve_total,fatals,peds,arr_hour,arr_min,year,monthname,day_weekname,hour,minute,state,statename,rur_urbname,func_sysname,weathername,lgt_condname,harm_evname,age,sex,alc_res
17,1,1,0,15,9,2017,February,Tuesday,14,59,1,Alabama,Urban,Interstate,Clear,Daylight,Rollover/Overturn,24,1,996
40,3,1,0,99,99,2017,January,Tuesday,20,31,1,Alabama,Urban,Interstate,Clear,Dark - Not Lighted,Motor Vehicle In-Transport,22,1,0
55,1,1,0,16,58,2017,January,Sunday,16,55,1,Alabama,Urban,Minor Arterial,Rain,Dark - Lighted,Utility Pole/Light Support,18,1,996
85,2,1,0,18,46,2017,January,Friday,18,40,1,Alabama,Rural,Interstate,Cloudy,Dark - Not Lighted,Ditch,43,1,996
86,2,1,0,18,46,2017,January,Friday,18,40,1,Alabama,Rural,Interstate,Cloudy,Dark - Not Lighted,Ditch,38,1,996
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3012725,2,1,0,23,2,2022,November,Thursday,22,43,56,Wyoming,Rural,Interstate,Clear,Dark - Not Lighted,Motor Vehicle In-Transport,33,1,996
3012728,2,1,0,23,2,2022,November,Thursday,22,43,56,Wyoming,Rural,Interstate,Clear,Dark - Not Lighted,Motor Vehicle In-Transport,25,1,996
3012794,4,1,0,16,40,2022,November,Monday,16,30,56,Wyoming,Rural,Interstate,Snow,Dusk,Motor Vehicle In-Transport,46,1,996
3012798,4,1,0,16,40,2022,November,Monday,16,30,56,Wyoming,Rural,Interstate,Snow,Dusk,Motor Vehicle In-Transport,46,1,996
3012856,3,1,2,4,18,2022,December,Wednesday,4,15,56,Wyoming,Rural,Interstate,Clear,Dark - Not Lighted,Pedestrian,28,2,996

In [20]:
df = df.drop_duplicates()

In [21]:
df.shape

(2906177, 20)

In [22]:
df['rur_urbname'].value_counts()

rur_urbname
Urban                                1690093
Rural                                1207277
Trafficway Not in State Inventory       5351
Unknown                                 2811
Not Reported                             645
Name: count, dtype: int64

In [23]:
df = df.loc[~df["rur_urbname"].isin(["Not Reported", "Trafficway Not in State Inventory", "Unknown"])].copy()

In [24]:
df['weathername'].value_counts()

weathername
Clear                       2057900
Cloudy                       390569
Rain                         206128
Not Reported                 157998
Fog, Smog, Smoke              31155
Snow                          25821
Reported as Unknown            9883
Severe Crosswinds              4758
Sleet or Hail                  3512
Other                          2720
Freezing Rain or Drizzle       2318
Blowing Snow                   2298
Unknown                        1442
Blowing Sand, Soil, Dirt        868
Name: count, dtype: int64

In [25]:
df = df.loc[~df["weathername"].isin([
    "Not Reported", "Other", "Unknown", "Reported as Unknown"
])].copy()

In [26]:
df.shape

(2725327, 20)

In [27]:
df['lgt_condname'].value_counts()

lgt_condname
Daylight                   1271967
Dark - Not Lighted          742389
Dark - Lighted              569914
Dusk                         64650
Dawn                         50960
Dark - Unknown Lighting      18950
Reported as Unknown           3746
Other                         1174
Not Reported                   801
Unknown                        776
Name: count, dtype: int64

In [28]:
df = df.loc[~df['lgt_condname'].isin([
    "Not Reported", "Other", "Unknown", "Reported as Unknown"
])].copy()

In [29]:
# Diccionario con códigos especiales por columna
special_codes = {
    'arr_hour': [88, 99],
    'arr_min': [88, 97, 98, 99],
}

for col, codes in special_codes.items():
    df[col] = df[col].replace({code: -1 for code in codes})  # -1 como marcador en lugar de NaN

In [30]:
df = df.loc[~df[['arr_hour', 'arr_min']].isin([-1]).any(axis=1)].copy()



Las siguientes variables de tiempo del dataset FARS fueron procesadas para eliminar códigos especiales o valores fuera del rango válido:

- `arr_hour`: hora de llegada
- `arr_min`: minuto de llegada


Estas variables contenían códigos utilizados por el sistema FARS para representar valores especiales:

| Código | Significado común en FARS |
|--------|----------------------------|
| `88`   | Not Applicable             |
| `96`   | Anómalo (fuera de rango)   |
| `97`   | Imputed                    |
| `98`   | Estimated                  |
| `99`   | Unknown / Missing          |

Estos códigos fueron reemplazados por `-1` y eliminados dado que no eran muchos.

Por ejemplo:
- `arr_min` contenía valores como `97`, `98`, `99`, que no representan minutos válidos.

### Manejo de la variable `sex`

In [31]:
df["sex"].value_counts()[[8, 9]]

sex
8     5931
9    11566
Name: count, dtype: int64

In [32]:
df = df.loc[~df["sex"].isin(["Not Reported", "Unknown"])].copy()

In [33]:
sex_mapping = {
    1: "Male",
    2: "Female",
    3: "Other",
}

df["sex"] = df["sex"].map(sex_mapping)

### Manejo de la variable `func_sysname`

In [34]:
df['func_sysname'].unique()

array(['Interstate', 'Minor Arterial', 'Principal Arterial - Other',
       'Major Collector', 'Minor Collector', 'Local',
       'Principal Arterial - Other Freeways and Expressways',
       'Not Reported', 'Unknown'], dtype=object)

In [35]:
# Diccionario con códigos especiales para la columna 'func_sysname'
special_codes = {
    'func_sysname': ['Not Reported', 'Unknown']  
}

# Reemplazar valores especiales por -1 como marcador en lugar de NaN
for col, codes in special_codes.items():
    df[col] = df[col].replace({code: -1 for code in codes})

In [36]:
# Filtrar filas donde 'func_sysname' no contenga valores especiales (-1)
df = df.loc[~df['func_sysname'].isin([-1])].copy()

In [37]:
df['func_sysname'].unique()

array(['Interstate', 'Minor Arterial', 'Principal Arterial - Other',
       'Major Collector', 'Minor Collector', 'Local',
       'Principal Arterial - Other Freeways and Expressways'],
      dtype=object)

## Estadísticas descriptivas

In [38]:
df.describe(include="object")

,monthname,day_weekname,statename,rur_urbname,func_sysname,weathername,lgt_condname,harm_evname,sex
count,1254597,1254597,1254597,1254597,1254597,1254597,1254597,1254597,1237133
unique,12,7,52,2,7,10,6,60,2
top,July,Saturday,Georgia,Urban,Principal Arterial - Other,Clear,Daylight,Motor Vehicle In-Transport,Male
freq,126186,215281,91359,686063,366104,911650,643862,558751,822028

In [39]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
ve_total,1254597.0,1.663979,0.994666,1.0,1.0,2.0,2.0,50.0
fatals,1254597.0,1.102694,0.393739,1.0,1.0,1.0,1.0,20.0
peds,1254597.0,0.196833,0.468048,0.0,0.0,0.0,0.0,20.0
arr_hour,1254597.0,13.126037,6.694896,0.0,8.0,14.0,19.0,23.0
arr_min,1254597.0,29.403170,17.354543,0.0,14.0,30.0,45.0,59.0
year,1254597.0,2019.534575,1.731672,2017.0,2018.0,2020.0,2021.0,2022.0
hour,1254597.0,13.536228,8.721739,0.0,8.0,14.0,19.0,99.0
minute,1254597.0,29.134057,17.944767,0.0,14.0,30.0,44.0,99.0
state,1254597.0,27.582859,15.279282,1.0,15.0,28.0,39.0,56.0
age,1254597.0,57.698543,129.407250,0.0,24.0,38.0,57.0,999.0
alc_res,1254597.0,632.270661,461.823406,0.0,0.0,996.0,996.0,999.0

In [40]:
numerical_cols = df.select_dtypes(include=['int64', 'float64']).columns

outlier_log = []

for col in numerical_cols:
    print(f"\n--- Analyzing Outliers for '{col}' ---")

    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1
    lower_limit = Q1 - 1.5 * IQR
    upper_limit = Q3 + 1.5 * IQR

    outliers = df[(df[col] < lower_limit) | (df[col] > upper_limit)]
    num_outliers = len(outliers)

    print(f"Number of Outliers: {num_outliers}")
    print(f"Lower Limit: {lower_limit:.2f}, Upper Limit: {upper_limit:.2f}")

    outlier_log.append({
        'Variable': col,
        'Outliers': num_outliers,
        'Lower Limit': lower_limit,
        'Upper Limit': upper_limit,
        'Porcentaje de Outliers': round(num_outliers / len(df) * 100, 2)
    })

print("\nResumen de Outliers:")
print(outlier_log)

--- Analyzing Outliers for 've_total' ---
Number of Outliers: 37401
Lower Limit: -0.50, Upper Limit: 3.50

--- Analyzing Outliers for 'fatals' ---
Number of Outliers: 103454
Lower Limit: 1.00, Upper Limit: 1.00

--- Analyzing Outliers for 'peds' ---
Number of Outliers: 225024
Lower Limit: 0.00, Upper Limit: 0.00

--- Analyzing Outliers for 'arr_hour' ---
Number of Outliers: 0
Lower Limit: -8.50, Upper Limit: 35.50

--- Analyzing Outliers for 'arr_min' ---
Number of Outliers: 0
Lower Limit: -32.50, Upper Limit: 91.50

--- Analyzing Outliers for 'year' ---
Number of Outliers: 0
Lower Limit: 2013.50, Upper Limit: 2025.50

--- Analyzing Outliers for 'hour' ---
Number of Outliers: 5440
Lower Limit: -8.50, Upper Limit: 35.50

--- Analyzing Outliers for 'minute' ---
Number of Outliers: 5452
Lower Limit: -31.00, Upper Limit: 89.00

--- Analyzing Outliers for 'state' ---
Number of Outliers: 0
Lower Limit: -21.00, Upper Limit: 75.00

--- Analyzing Outliers for 'age' ---
Number of Outliers: 22747
Lower Limit: -25.50, Upper Limit: 106.50

--- Analyzing Outliers for 'alc_res' ---
Number of Outliers: 0
Lower Limit: -1494.00, Upper Limit: 2490.00

Resumen de Outliers:
[{'Variable': 've_total', 'Outliers': 37401, 'Lower Limit': -0.5, 'Upper Limit': 3.5, 'Porcentaje de Outliers': 2.98}, {'Variable': 'fatals', 'Outliers': 103454, 'Lower Limit': 1.0, 'Upper Limit': 1.0, 'Porcentaje de Outliers': 8.25}, {'Variable': 'peds', 'Outliers': 225024, 'Lower Limit': 0.0, 'Upper Limit': 0.0, 'Porcentaje de Outliers': 17.94}, {'Variable': 'arr_hour', 'Outliers': 0, 'Lower Limit': -8.5, 'Upper Limit': 35.5, 'Porcentaje de Outliers': 0.0}, {'Variable': 'arr_min', 'Outliers': 0, 'Lower Limit': -32.5, 'Upper Limit': 91.5, 'Porcentaje de Outliers': 0.0}, {'Variable': 'year', 'Outliers': 0, 'Lower Limit': 2013.5, 'Upper Limit': 2025.5, 'Porcentaje de Outliers': 0.0}, {'Variable': 'hour', 'Outliers': 5440, 'Lower Limit': -8.5, 'Upper Limit': 35.5, 'Porcentaje de Outliers': 0.43}, {'Variable': 'minute', 'Outliers': 5452, 'Lower Limit': -31.0, 'Upper Limit': 89.0, 'Porcentaje de Outliers': 0.43}, {'Variable': 'state', 'Outliers': 0, 'Lower Limit': -21.0, 'Upper Limit': 75.0, 'Porcentaje de Outliers': 0.0}, {'Variable': 'age', 'Outliers': 22747, 'Lower Limit': -25.5, 'Upper Limit': 106.5, 'Porcentaje de Outliers': 1.81}, {'Variable': 'alc_res', 'Outliers': 0, 'Lower Limit': -1494.0, 'Upper Limit': 2490.0, 'Porcentaje de Outliers': 0.0}]

# Transformations for the dimensional modeling

In [41]:
df.columns

Index(['ve_total', 'fatals', 'peds', 'arr_hour', 'arr_min', 'year',
       'monthname', 'day_weekname', 'hour', 'minute', 'state', 'statename',
       'rur_urbname', 'func_sysname', 'weathername', 'lgt_condname',
       'harm_evname', 'age', 'sex', 'alc_res'],
      dtype='object')

In [42]:
df = df.drop(columns=['statename', 'state'])

In [43]:
df["lgt_condname"].unique()

array(['Daylight', 'Dark - Lighted', 'Dark - Not Lighted', 'Dusk', 'Dawn',
       'Dark - Unknown Lighting'], dtype=object)

In [44]:
visibility_mapping = {
    'Daylight': 'Alta',
    'Dawn': 'Moderada',
    'Dusk': 'Moderada',
    'Dark - Lighted': 'Baja',
    'Dark - Not Lighted': 'Muy Baja',
    'Dark - Unknown Lighting': 'Muy Baja',
    'Unknown': 'Unknown',
    'Not Reported': 'Unknown',
    'Reported as Unknown': 'Unknown',
    'Other': 'Unknown'
}

df["lgt_condname"] = df["lgt_condname"].map(visibility_mapping)

In [45]:
print(df['alc_res'].unique())

[  0 996 288 166 235 195 273 209  80 173 999 154 167  33 153 187 159 112
 234 146  81 183  35 197 188 210  25 174 157 247 238 300 150 116 182 229
 278  89  12  34 236 175  53 181 126 130 262 401 252 233  64 108 165  55
 192 237 204  60 225  45  10 142  71 256 135  41 186  92 172  57 223 330
 141  23 137 111  11 246 271 265  51 212 301 263  78 214 205 143 331 302
 117  20 155  96 218 176 115  94 287 105  82  14 148 121 162  79  83 269
 284 151 325 133  15 281 190 199 101  13 161  37  26 179 245 124 251 177
 217 280  18  59 298  52  30 270 242 346 226 156 139 221  87 109  19  16
 119 215 152 127 100  54 282 294 158 149 316  88 313 296 230  17 312 241
 244 277 122 249 120 227 104 207  36 170  43  84 264 577 310 353 261 248
 382  98 213 185 169  85 118 191 318 253 254 198 189 202 106 293 102  22
  70 144 180 309 134 147 283 308 224 289 206 129  47  86 193  97  40 131
 307 324 132 997 107 267 612  21 196 231  32  66 160 268 240 114 400 232
 319 339 211 255 259 138 290 257  39 184  68 178 140 940  95 286 110 368
 250  74  62  93 200 128 145 320  56 125  91  77 326 220  61 276 103  27
  90 216 304  69  76 163  31 315 358 305 219 266 279  28 258  75  73 295
 274 228 123 321 416 351 260 275 203 136 550 347  42 311 374  29 314 362
 164 171 299 113 168 533 334  46  65  44 335 208 333 243  72 285  48  99
   6 637 372 554 327  63  50 348 344 369 341 350 222 548 375  38  49 398
 323 433 390 343 389 422 397 303 998 995 306 425  24 291 383 201   2 340
 194 417   7 399 396  67 406 373 431 420 440 371 365 329 342 336 370   9
  58 411 473 432 360 495 332 419 345 430 297 364 272 355 405 589 292 486
 352 464 387 378 410 322 380 530 385 381 317 394   1   3 349 338 413 423
 391 337 239 508 379 595 363 328 354 377 493 407 376 424 520 393   8 395
 500   4   5 366 408 485 437 361 471 359 450 482 412 402 497 540 443 484
 434 470 460 712 357 510 367 740 580 690 490 386 384 427 458 404 506 570
 415 409 392 574 474 895 356 560 463 445 403 461 442 475 388 455 428 905
 452 414 421 488 544 734 426 436 438 467 644 930 688 469 600 448 539 630
 441 480 662 453 521 491 514 451 640 626 529 418 476 429 590 502 664 457
 489 725 532 658 549 479 840 494 780 483 708 542 456 558 447 499 516 496
 439 750 850]

In [46]:
# Convertir el BAC a su valor real en g/dL
df['alc_res'] = df['alc_res'] / 1000

# Función de clasificación
def clasificar_bac(bac):
    if bac <= 0.03:
        return "Bajo"
    elif bac <= 0.08:
        return "Moderado"
    elif bac <= 0.20:
        return "Alto"
    elif bac <= 0.40:
        return "Peligroso"
    else:
        return "Letal"

# Aplicar la función
df['alc_res'] = df['alc_res'].apply(clasificar_bac)

# Mostrar el resultado
print(df.head())

    ve_total  fatals  peds  arr_hour  arr_min  year monthname day_weekname  \
15         1       1     0        15        9  2017  February      Tuesday
16         1       1     0        15        9  2017  February      Tuesday
18         1       1     0        15        9  2017  February      Tuesday
19         1       1     0        15        9  2017  February      Tuesday
20         1       1     0        15        9  2017  February      Tuesday

    hour  minute rur_urbname func_sysname weathername lgt_condname  \
15    14      59       Urban   Interstate       Clear         Alta
16    14      59       Urban   Interstate       Clear         Alta
18    14      59       Urban   Interstate       Clear         Alta
19    14      59       Urban   Interstate       Clear         Alta
20    14      59       Urban   Interstate       Clear         Alta

          harm_evname  age     sex alc_res
15  Rollover/Overturn   43    Male    Bajo
16  Rollover/Overturn   24    Male   Letal
18  Rollover/Overturn   42  Female    Bajo
19  Rollover/Overturn   54  Female   Letal
20  Rollover/Overturn   40  Female    Bajo

In [47]:
df["weathername"].unique()

array(['Clear', 'Rain', 'Cloudy', 'Fog, Smog, Smoke', 'Snow',
       'Sleet or Hail', 'Freezing Rain or Drizzle',
       'Blowing Sand, Soil, Dirt', 'Severe Crosswinds', 'Blowing Snow'],
      dtype=object)

In [48]:
weather_map = {
    'Clear': 'Clear',
    'Rain': 'Rainy',
    'Cloudy': 'Windy',
    'Fog, Smog, Smoke': 'Foggy',
    'Snow': 'Snowy',
    'Sleet or Hail': 'Snowy',
    'Freezing Rain or Drizzle': 'Rainy',
    'Blowing Snow': 'Snowy',
    'Blowing Sand, Soil, Dirt': 'Windy',
    'Severe Crosswinds': 'Windy',
    'Clear': 'Clear',
    'Not Reported': 'Unknown',
    'Other': 'Unknown',
    'Reported as Unknown': 'Unknown'
    # 'Unknown' se mantiene igual
}

# Aplicamos el reemplazo
df['weathername'] = df['weathername'].replace(weather_map)

In [49]:
accidents['arr_hour'].unique()

array([99, 15, 16, 20, 18, 17, 14,  4,  5, 22,  0,  2, 23,  7, 19,  9, 11,
        1,  6, 13,  3, 10,  8, 21, 12, 88], dtype=int64)

In [50]:
df[df["arr_hour"] == 99]["arr_hour"].nunique()

0

In [51]:
df[df["arr_hour"] == 88]["arr_hour"].nunique()

0

In [52]:
df[df["arr_min"].isin([88, 97, 98, 99])]["arr_hour"].nunique()

0

In [53]:
df['arr_min'].unique()

array([ 9, 58, 31, 46, 10, 40, 39,  0, 30, 15, 42, 23, 50, 59, 17, 45, 53,
        5,  6, 35, 27, 47, 55, 43, 25, 44,  1,  3, 28,  4, 34, 48, 33, 36,
       54,  8, 56,  7, 49, 12, 32, 20, 22, 21,  2, 24, 26, 16, 41, 52, 11,
       13, 38, 51, 18, 29, 19, 37, 14, 57], dtype=int64)

In [54]:
from datetime import time

# Aseguramos que no haya NaN y convertimos
df['arr_hour'] = df['arr_hour'].fillna(0).astype(int)
df['arr_min'] = df['arr_min'].fillna(0).astype(int)

# Creamos la columna con objetos tipo datetime.time
df['arr_time'] = df.apply(lambda row: time(row['arr_hour'], row['arr_min']), axis=1)

print(df[['arr_hour', 'arr_min', 'arr_time']])

         arr_hour  arr_min  arr_time
15             15        9  15:09:00
16             15        9  15:09:00
18             15        9  15:09:00
19             15        9  15:09:00
20             15        9  15:09:00
...           ...      ...       ...
3012883         5       25  05:25:00
3012884         5       25  05:25:00
3012885         5       25  05:25:00
3012886         5       25  05:25:00
3012887         5       25  05:25:00

[1254597 rows x 3 columns]

In [55]:
df['hour'].unique()

array([14, 16, 20, 18,  4, 21, 17,  0,  1, 23, 19,  8, 11,  6, 13,  3,  2,
        9,  5,  7, 15, 22, 10, 99, 12], dtype=int64)

In [56]:
df['minute'].unique()

array([59, 55,  0, 40, 50, 30, 35, 34,  5, 10, 15, 48,  1, 44, 45, 27, 23,
       14, 20, 36,  8, 42, 43, 38, 32, 16, 46, 58,  4, 19, 25,  3, 39, 11,
       53, 57, 52, 21, 28, 29, 18, 41, 37, 24, 49,  9, 99, 22, 26, 12, 47,
       17,  7,  2, 33, 31, 54,  6, 51, 13, 56], dtype=int64)

In [57]:
df = df[~df['hour'].isin([99, 98])]
df = df[~df['minute'].isin([99, 98])]

# Aseguramos que no haya NaN y convertimos
df['hour'] = df['hour'].fillna(0).astype(int)
df['minute'] = df['minute'].fillna(0).astype(int)

# Creamos la columna con objetos tipo datetime.time
df['time'] = df.apply(lambda row: time(row['hour'], row['minute']), axis=1)

print(df[['hour', 'minute', 'time']])

         hour  minute      time
15         14      59  14:59:00
16         14      59  14:59:00
18         14      59  14:59:00
19         14      59  14:59:00
20         14      59  14:59:00
...       ...     ...       ...
3012883     4      57  04:57:00
3012884     4      57  04:57:00
3012885     4      57  04:57:00
3012886     4      57  04:57:00
3012887     4      57  04:57:00

[1249145 rows x 3 columns]

In [ ]:
df = df[~df['hour'].isin([99, 98])]
df = df[~df['minute'].isin([99, 98])]


# Función para calcular la diferencia entre dos objetos time
def time_diff(t1, t2):
    df = df[~df['hour'].isin([99, 98])]
df = df[~df['minute'].isin([99, 98])]

    # Convertir a datetime con una fecha ficticia
    dt1 = datetime(2023, 1, 1, t1.hour, t1.minute, t1.second)
    dt2 = datetime(2023, 1, 1, t2.hour, t2.minute, t2.second)
    
    # Calcular diferencia (arr_time - time)
    diff = dt2 - dt1
    
    # Si arr_time es menor que time, asumir que es del día siguiente
    if diff.total_seconds() < 0:
        dt2 = datetime(2023, 1, 2, t2.hour, t2.minute, t2.second)  # Día siguiente
        diff = dt2 - dt1
    
    # Convertir la diferencia a horas, minutos, segundos
    total_seconds = diff.total_seconds()
    hours = int(total_seconds // 3600) % 24  # Tomar módulo 24 para mantener horas en 0-23
    minutes = int((total_seconds % 3600) // 60)
    seconds = int(total_seconds % 60)
    
    return time(hours, minutes, seconds)

# Manejar valores nulos y calcular la diferencia
df['diff_time'] = df.apply(
    lambda row: time_diff(row['time'], row['arr_time']) 
    if pd.notnull(row['time']) and pd.notnull(row['arr_time']) 
    else None, 
    axis=1
)

# Mostrar el resultado
print(df[['time', 'arr_time', 'diff_time']])

             time  arr_time diff_time
15       14:59:00  15:09:00  00:10:00
16       14:59:00  15:09:00  00:10:00
18       14:59:00  15:09:00  00:10:00
19       14:59:00  15:09:00  00:10:00
20       14:59:00  15:09:00  00:10:00
...           ...       ...       ...
3012883  04:57:00  05:25:00  00:28:00
3012884  04:57:00  05:25:00  00:28:00
3012885  04:57:00  05:25:00  00:28:00
3012886  04:57:00  05:25:00  00:28:00
3012887  04:57:00  05:25:00  00:28:00

[1249145 rows x 3 columns]

In [ ]:
# Función para categorizar la hora
def categorize_time(row):
    hour = row.hour
    if 5 <= hour < 12:
        return "Morning"
    elif 12 <= hour < 17:
        return "Afternoon"
    elif 17 <= hour < 21:
        return "Evening"
    else:
        return "Night"

# Aplicamos la función a la columna time para crear la nueva columna categórica
df['time'] = df['time'].apply(categorize_time).astype("category")

print(df[['time']])

In [60]:
df.columns

Index(['ve_total', 'fatals', 'peds', 'arr_hour', 'arr_min', 'year',
       'monthname', 'day_weekname', 'hour', 'minute', 'rur_urbname',
       'func_sysname', 'weathername', 'lgt_condname', 'harm_evname', 'age',
       'sex', 'alc_res', 'arr_time', 'time', 'diff_time', 'time_of_day'],
      dtype='object')

In [61]:
df['func_sysname'].unique()

array(['Interstate', 'Minor Arterial', 'Principal Arterial - Other',
       'Major Collector', 'Minor Collector', 'Local',
       'Principal Arterial - Other Freeways and Expressways'],
      dtype=object)

Tabla de correspondencias entre `func_sysname` y los valores únicos en `'road_type'` del modelo dimensional:

|  `func_sysname` | Correspondencia con `road_type` |
|------------|--------------------------------|
| Interstate | Highway                        |
| Principal Arterial – Other Freeways and Expressways | Highway |
| Principal Arterial – Other | Main Road |
| Minor Arterial | Main Road |
| Major Collector | Main Road |
| Minor Collector | Street |
| Local | Street |

In [62]:
# Diccionario de mapeo entre 'func_sysname' y 'road_type'
mapping = {
    'Interstate': 'Highway',
    'Principal Arterial - Other Freeways and Expressways': 'Highway',
    'Principal Arterial - Other': 'Main Road',
    'Minor Arterial': 'Main Road',
    'Major Collector': 'Main Road',
    'Minor Collector': 'Street',
    'Local': 'Street'
}

# Aplicar el mapeo en la columna 'func_sysname'
df['func_sysname'] = df['func_sysname'].map(mapping)

In [63]:
df['func_sysname'].unique()

array(['Highway', 'Main Road', 'Street'], dtype=object)

In [64]:
df["age"].unique()

array([ 43,  24,  42,  54,  40,  51,  31,  32,  60,  66,  34,  57,  55,
        23,  18,  58,  26,  28,  41,  17,  20,  80,  67,  46,  30,  47,
        13,  27, 999,  37,  12,  14,  38,   6,   5,  70,  64,  74,   0,
        81,  50,  45,  49,   4,  21,  79,  86,  91,  36,  56,  35,  65,
        77,   2,  39,  78,  48,  11,  62,  15,  53,  63,  19,  16,  75,
        89,  76,  61,  33,  84,  82,  22,  25,  52,   9,   8,  44,  29,
        71,  69,  10,  68, 998,  73,  72,  59,  85,  83,  97,  87,   3,
         7,  88,   1,  90,  93,  92,  94,  96,  98,  95, 105, 101,  99,
       103, 107, 100, 117, 102, 118, 104], dtype=int64)

In [65]:
# Elimina las filas con edades inválidas (998 y 999)
df = df[~df['age'].isin([998, 999])]

def map_driver_age(age):
    if age < 18:
        return '<18'
    elif 18 <= age <= 25:
        return '18-25'
    elif 26 <= age <= 40:
        return '26-40'
    elif 41 <= age <= 60:
        return '41-60'
    elif age > 60:
        return '61+'

df['age'] = df['age'].apply(map_driver_age)

print(df['age'])

15         41-60
16         18-25
18         41-60
19         41-60
20         26-40
           ...
3012883    41-60
3012884    26-40
3012885    41-60
3012886    26-40
3012887    18-25
Name: age, Length: 1226517, dtype: object

In [66]:
df.columns

Index(['ve_total', 'fatals', 'peds', 'arr_hour', 'arr_min', 'year',
       'monthname', 'day_weekname', 'hour', 'minute', 'rur_urbname',
       'func_sysname', 'weathername', 'lgt_condname', 'harm_evname', 'age',
       'sex', 'alc_res', 'arr_time', 'time', 'diff_time', 'time_of_day'],
      dtype='object')

In [67]:
column_rename_map = {
    've_total': 'number_of_vehicles_involved',
    'fatals': 'number_of_fatalities',
    'peds': 'pedestrians_involved',
    'year': 'year',
    'monthname': 'month',
    'day_weekname': 'day_of_week',
    'rur_urbname': 'urban_rural',
    'func_sysname': 'road_type',
    'weathername': 'weather_conditions',
    'lgt_condname': 'visibility_level',
    'harm_evname': 'accident_cause',
    'age': 'driver_age_group',
    'sex': 'driver_gender',
    'alc_res': 'driver_alcohol_level',
    'diff_time': 'emergency_response_time',
    'time': 'time_of_day'
}

df.rename(columns=column_rename_map, inplace=True)

In [68]:
df.columns

Index(['number_of_vehicles_involved', 'number_of_fatalities',
       'pedestrians_involved', 'arr_hour', 'arr_min', 'year', 'month',
       'day_of_week', 'hour', 'minute', 'urban_rural', 'road_type',
       'weather_conditions', 'visibility_level', 'accident_cause',
       'driver_age_group', 'driver_gender', 'driver_alcohol_level', 'arr_time',
       'time_of_day', 'emergency_response_time', 'time_of_day'],
      dtype='object')

In [69]:
df = df.drop(columns=['hour','minute', 'arr_hour', 'arr_min', 'arr_time'])

In [70]:
df.columns

Index(['number_of_vehicles_involved', 'number_of_fatalities',
       'pedestrians_involved', 'year', 'month', 'day_of_week', 'urban_rural',
       'road_type', 'weather_conditions', 'visibility_level', 'accident_cause',
       'driver_age_group', 'driver_gender', 'driver_alcohol_level',
       'time_of_day', 'emergency_response_time', 'time_of_day'],
      dtype='object')